
.chaosGameLayout {
  -fx-alignment: top-center;
}

Label, TextField, Button, ColorPicker, ComboBox, WeightedComboBox, DoubleNumberField {
  -fx-font-family: "SansSerif";
}

.topBar {
  -fx-alignment: center;
  -fx-spacing: 5px;
  -fx-background-color: #b2b2b2;
  -fx-padding: 5px;
  -fx-pref-height: 60px;
  -fx-border-width: 0 0 2 0;
  -fx-border-color: #9b9b9b;
  -fx-border-style: solid;
}

.sideBar {
  -fx-alignment: top-center;
  -fx-spacing: 5px;
  -fx-background-color: #92929288;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-padding: 5px;
  -fx-pref-height: 60px;
  -fx-border-width: 0 0 2 2;
  -fx-border-color: #9b9b9b;
  -fx-border-style: solid;
  -fx-min-height: 250px;
  -fx-min-width: 150px;
}

.burgerMenuButton {
  -fx-font-size: 20px;
}

.unsaved {
  -fx-border-width: 1px;
  -fx-border-color: #ffcc00;
  -fx-border-radius: 5px;
}

.invalid {
  -fx-border-width: 1px;
  -fx-border-color: #ff0000;
  -fx-border-radius: 5px;
}

.editDescription {
  -fx-alignment: center;
  -fx-spacing: 10px;
  -fx-background-color: #bfbfbf;
}

.descriptionList {
  -fx-pref-width: 800px;
  -fx-pref-height: 800px;
  -fx-background-color: #bfbfbf;
  -fx-alignment: center;
  -fx-spacing: 10px;
}

TextField, DoubleNumberField {
  -fx-pref-width: 60px;
}

.content {
  -fx-spacing: 10px;
  -fx-alignment: center;
}

HBox {
  -fx-spacing: 6px;
  -fx-alignment: center;
}

VBox {
  -fx-alignment: center;
}

.removeTransform {
  -fx-font-size: 10px;
  -fx-background-color: #cb7f7f;
  width: 90px;
}

.plus {
  -fx-font-size: 20px;
}

.weight {
  -fx-font-size: 10px;
  -fx-pref-width: 35px;
}

.imageView {
  -fx-alignment: center;
}

.iterationsField {
  -fx-pref-width: 105px;
}

.randomButton {
  -fx-pref-width: 100px;
  -fx-font-size: 10px;
}

.newButton {
  -fx-pref-width: 80px;
  -fx-font-size: 10px;
}

.saveLoadButton {
  -fx-pref-width: 100px;
  -fx-font-size: 10px;
}

ColorPicker {
  -fx-pref-width: 30px;
  -fx-background-color: #d5d5d5;
  -fx-border-radius: 0;
  -fx-content-display: graphic-only;

}

Button {
  -fx-font-size: 11px;
  -fx-background-color: #cfcfcf;
  -fx-border-width: 1px;
}
Button:hover {
  -fx-background-color: #dddddd;
}

ComboBox {
  -fx-pref-width: 100px;
  -fx-background-color: #d5d5d5;
  -fx-border-radius: 0;
}

.zoomHBox {
  -fx-background-color: #92929288;
  -fx-background-radius: 5px, 5px, 0, 0;
  -fx-border-radius: 5px, 5px, 0, 0;
  -fx-border-width: 1px;
  -fx-border-color: #9b9b9b;
  -fx-spacing: 0px;
}

.moveButton {
  -fx-pref-width: 30px;
  -fx-pref-height: 20px;
  -fx-font-size: 10px;
  -fx-background-color: #cfcfcf;
  -fx-background-radius: 5px;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
  -fx-border-color: #9b9b9b;
}
.moveButton:hover {
  -fx-background-color: #dddddd;
}
.moveButtonLeftRight {
  -fx-pref-width: 30px;
  -fx-pref-height: 40px;
  -fx-font-size: 10px;
  -fx-background-color: #cfcfcf;
  -fx-background-radius: 5px;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
  -fx-border-color: #9b9b9b;
}
.moveButtonLeftRight:hover {
  -fx-background-color: #dddddd;
}

.zoomButton {
  -fx-pref-width: 30px;
  -fx-pref-height: 10px;
  -fx-font-size: 9px;
  -fx-background-color: #cfcfcf;
  -fx-background-radius: 5px;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
  -fx-border-color: #9b9b9b;
}
.zoomButton:hover {
  -fx-background-color: #dddddd;
}

TitledPane > .title {
  -fx-font-size: 12px;
  -fx-background-color: #bfbfbf88;
}
TitledPane > .content {
  -fx-background-color: #00000000;
  -fx-background-radius: 5px;
  -fx-border-width: 0px;
}

Slider {
  -fx-pref-width: 70px;
  -fx-min-height: 15px;
}

.mandelbrotLabel {
  -fx-font-size: 8px;
}
.mandelbrotModeLabel {
  -fx-font-size: 10px;
}




