
.chaosGameLayout {
  -fx-alignment: top-center;
}

.topBar {
  -fx-alignment: center;
  -fx-spacing: 5px;
  -fx-background-color: #b2b2b2;
  -fx-padding: 5px;
  -fx-pref-height: 60px;
  -fx-border-width: 0 0 2 0;
  -fx-border-color: #9b9b9b;
  -fx-border-style: solid;
}

.sideBar {
  -fx-alignment: top-center;
  -fx-spacing: 5px;
  -fx-background-color: #b2b2b2;
  -fx-padding: 5px;
  -fx-pref-height: 60px;
  -fx-border-width: 0 0 2 2;
  -fx-border-color: #9b9b9b;
  -fx-border-style: solid;
  -fx-min-height: 250px;
  -fx-min-width: 150px;
}

.burgerMenuButton {
  -fx-font-size: 20px;
}

.sideBar {
  -fx-spacing: 10px;
  -fx-background-color: #bfbfbf;
}
.unsaved {
  -fx-border-width: 1px;
  -fx-border-color: #ffcc00;
  -fx-border-radius: 5px;
}
.invalid {
  -fx-border-width: 1px;
  -fx-border-color: #ff0000;
  -fx-border-radius: 5px;
}

.editDescription {
  -fx-alignment: center;
  -fx-spacing: 10px;
  -fx-background-color: #bfbfbf;
}

.descriptionList {
  -fx-pref-width: 800px;
  -fx-pref-height: 800px;
  -fx-background-color: #bfbfbf;
  -fx-alignment: center;
  -fx-spacing: 10px;
}

TextField, DoubleNumberField {
  -fx-pref-width: 60px;
}

.content {
  -fx-spacing: 10px;
  -fx-alignment: center;
}

HBox {
  -fx-spacing: 6px;
  -fx-alignment: center;
}

VBox {
  -fx-alignment: center;
}

.removeTransform {
  -fx-font-size: 10px;
  -fx-background-color: #cb7f7f;
  width: 90px;
}

.plus {
  -fx-font-size: 20px;
}

.weight {
  -fx-font-size: 10px;
  -fx-pref-width: 35px;
}

.imageView {
  -fx-alignment: center;
}

.iterationsField {
  -fx-pref-width: 100px;
}

.randomButton {
  -fx-pref-width: 100px;
  -fx-font-size: 10px;
}

.newButton {
  -fx-pref-width: 80px;
  -fx-font-size: 10px;
}

.saveLoadButton {
  -fx-pref-width: 100px;
  -fx-font-size: 10px;
}

ColorPicker {
  -fx-pref-width: 30px;
  -fx-background-color: #d5d5d5;
  -fx-border-radius: 0;
  -fx-content-display: graphic-only;

}

Button {
  -fx-font-size: 11px;
  -fx-background-color: #cfcfcf;
  -fx-border-width: 1px;
}

ComboBox {
  -fx-pref-width: 100px;
  -fx-background-color: #d5d5d5;
  -fx-border-radius: 0;
}

Button:hover {
  -fx-background-color: #dddddd;
}



